#a{
    margin-top:15px;
  margin-left: 400px; 
  margin-right: 300px;
  margin-bottom: 20px;
    }

 #divprofile 
 {
    border: solid;
    background-color: darkgray;
    margin-top: 20px;
    }
    #b2{
        margin-left: 780px;;
    }
    #b3{
        margin-left: 1170px;
    }        
                   
#c 
{  
background-color: lemonchiffon;

margin-top: 20px;
}
#d {
   margin-top: 20px;
    }
                
#i {
    margin-top: 20px;
    border-radius: 50px;
    }
                       
                
.c1 {
    text-align: center;
}
  
