<div  *ngIf="isstudent">
<p  style="text-align: center;">Profile Page<p>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
               
            

                    <div class="card" id="c" style="width:270px">
                        <div class="card-body c1">


                            <b> Name:{{consumer.name}}</b>
                            <br>
                                Age:{{consumer.age}}
                            <br />
                            Gender:{{consumer.gender}}
                            <br />
                            Addess:{{consumer.address}}
                            <br />
                            Mobile:{{consumer.mobile}}
                            <br />
                            Password:{{consumer.email}}
                            <br>

                        </div>


                        <div class="c1">
                            <div>
                                <a class="btn btn-primary" >Back to List</a>
                            </div>
                        </div>
                        <br />
                    </div>


                
            </div>
        </div>

    </div>
</div>
</div>

<div *ngIf="isstaff">
<p   style="text-align: center;">Profile Page<p>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                   
                
    
                        <div class="card" id="c" style="width:270px">
                            <div class="card-body c1">
    
    
                                <b> Name:{{teacher.name}}</b>
                                <br>
                                    Age:{{teacher.age}}
                                <br />
                                Gender:{{teacher.gender}}
                                <br />
                                Addess:{{teacher.city}}
                                <br />
                                Expertise:{{teacher.expertise}}
                                <br />
                                Mobile:{{teacher.mobile}}
                                <br />
                                Email:{{teacher.email}}
                                <br>
    
                            </div>
    
    
                            <div class="c1">
                                <div>
                                    <a class="btn btn-primary" >Back to List</a>
                                </div>
                            </div>
                            <br />
                        </div>
    
    
                    
                </div>
            </div>
    
        </div>
    </div>

</div>