

#c {
    background-color:aliceblue;
    margin-left: 450px;
    margin-top: 20px;
}

#d {
    margin-top: 20px;
}

#i {
    margin-top: 20px;
    border-radius: 50px;
}


.c1 {
    text-align: center;
}
