body{
    background-color: darkseagreen;
    
}
.first{
    padding-left: 60px;
    /* padding-top: 20px; */
    padding-right: 60px;
}
.font{
    padding-left: 42%;
}
/* .img{
    align-items: center;
} */