<!-- <div class="row">
    <div class="offset-1">
        <button type="button" class="btn btn-outline-primary btn-lg mt-5 ml-5" (click)="getallstaff()">Staff List</button>
        &nbsp;<button type="button" class="btn btn-outline-primary btn-lg mt-5 ml-5" (click)="postbutton()">Add Staff</button>
        
  
    </div>
</div>
<br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Userid</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>City</th>
                <th>Expertise</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Password</th>
                
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of allstaff">
               
                <td>
                    {{item.staffid}}
                </td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.age}}
                </td>
                <td>
                    {{item.gender}}
                </td>
                <td>
                    {{item.city}}
                </td>
                <td>
                    {{item.expertise}}
                </td>
                <td>
                    {{item.mobile}}
                </td>
                <td>
                    {{item.email}}
                </td>
                <td>
                    {{item.password}}
                </td>
                <div style="background-color: black;">
                    <button type="button" class="btn btn-outline-primary" (click)="getstaffbyId(item.staffid)">Detail</button>
                    &nbsp;<button class="btn btn-danger" (click)="delete_api(item.staffid)">Delete</button>
                    &nbsp;<button class="btn btn-danger" (click)="updatebutton(item.staffid)">Update</button>
                    </div>
                    
                
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="flag">
    <h3>Student Detail</h3><br>
    Name:{{teacher.name}}<br>
    Age:{{teacher.age}}<br>
    Gender:{{teacher.gender}}<br>
    City:{{teacher.city}}<br>
    Expertise:{{teacher.expertise}}<br>
    Mobile:{{teacher.mobile}}<br>
    Email:{{teacher.email}}<br>
    Password:{{teacher.password}}
</div> -->

<!-- <div class="offset-1" *ngIf="flagpost">
    <h1>Add Staff</h1>
    <form #NewStaffForm="ngForm" (ngSubmit)="post_staff(NewStaffForm.value)">
       <label for="stuid">Staff Id</label><br>
       <input type="number" id="staffid" name="staffid" [(ngModel)]="teacher.staffid"><br>
       <label for="stuname">Staff Name</label><br>
       <input type="text" id="name" name="name" [(ngModel)]="teacher.name"><br>
       <label for="Age">Age</label><br>
       <input type="text" id="age" name="age" [(ngModel)]="teacher.age"><br>
       <label for="Gender">Gender</label><br>
       <input type="text" id="gender" name="gender" [(ngModel)]="teacher.gender"><br>
       <label for="Expertise">Expertise</label><br>
       <input type="text" id="expertise" name="expertise" [(ngModel)]="teacher.expertise"><br>
       <label for="Mobile">Mobile</label><br>
       <input type="text" id="mobile" name="mobile" [(ngModel)]="teacher.mobile"><br>
       <label for="Email">Email</label><br>
       <input type="text" id="email" name="email" [(ngModel)]="teacher.email"><br>
       <label for="Password">Password</label><br>
       <input type="text" id="password" name="password" [(ngModel)]="teacher.password"><br>
      
       <input type="submit" value="submit">
   </form>
</div> -->

<section class="vh-500" *ngIf="flagpost">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="/assets/stureg1.jpg"
                                 alt="login form"
                                 class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            <img src="/assets/stureg2.jpg"
                                 alt="login form"
                                 class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form  #NewStaffForm="ngForm" (ngSubmit)="post_staff(NewStaffForm.value)">


                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0"></span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Tutor Registration</h5>
                                    <div class="form-outline mb-4">
                                        <label for="tutorname" class="control-label">Tutor name</label><br>
                                        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="teacher.name" #name="ngModel" required>                    
                                        <div class="error" *ngIf="name.errors?.minlength"></div>
                                        <div class="error"  *ngIf="name.touched && name.invalid">Name is required.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline ">
                                                <label for="age" class="control-label">Age</label><br>
                                                <input type="text" id="age" name="age" [(ngModel)]="teacher.age"  pattern="[0-9]+" minlength="2" maxlength="3" class="form-control" #age="ngModel" required><br>
                                                <div class="error" *ngIf="age.errors?.minlength && age.errors?.pattern">Enter valid age</div>
                                                <div class="error"  *ngIf="age.touched && age.invalid">Enter valid age</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline mb-4">
                                                <label for="tutorgender" class="control-label">Gender</label><br>
                                                <input type="text" id="gender" name="gender" [(ngModel)]="teacher.gender"  class="form-control" #gen="ngModel" required  >
                                                <div class="error" *ngIf="gen.errors?.minlength"></div>
                                                <div class="error"  *ngIf="gen.touched && gen.invalid">Gender is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label for="Expertise" class="control-label">Expertise</label><br>
                                        <input type="text" id="expertise" name="expertise" [(ngModel)]="teacher.expertise" class="form-control" #add="ngModel" required ><br>
                                        <div class="error" *ngIf="add.errors?.minlength"></div>
                                        <div class="error"  *ngIf="add.touched && add.invalid">Address is required.</div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="Mobile" class="control-label">Mobile</label><br>
                                        <input type="text" id="mobile" name="mobile" [(ngModel)]="teacher.mobile" pattern="[0-9]+" minlength="10" maxlength="10" class="form-control" #mobile="ngModel" required >
                                        <div class="error" *ngIf="mobile.errors?.minlength && mobile.errors?.pattern ">Check the number</div>
                                        <div class="error"  *ngIf="mobile.touched && mobile.invalid ">Enter valid mobile number </div>
                                        
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label for="email" class="control-label">Email</label><br>
                                        <input type="email" id="email" name="email" [(ngModel)]="teacher.email" class="form-control"    #email="ngModel" required>
                                        <div class="error" *ngIf="email.errors?.minlength">Email should be in email fomrat</div>
                                        <div class="error"  *ngIf="email.touched && email.invalid">Email is required.</div>
                                     
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="Password">Password</label>
                                        <input type="text" id="password" name="password" [(ngModel)]="teacher.password" class="form-control" #pass="ngModel" required >
                                        <div class="error" *ngIf="pass.errors?.minlength"></div>
                                        <div class="error"  *ngIf="pass.touched && pass.invalid">Pass is required.</div>
                                    </div>
                                    <!-- <div class="form-outline mb-4">
                                        <label asp-for="Image" class="control-label"></label>
                                        <input asp-for="Image" class="form-control" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div> -->

                                    <div class="form-group">
                                        <input type="submit" [disabled]="NewStaffForm.invalid" value="Register" class="btn btn-dark btn-block" />
                                    </div>
                                    <br>
                                     <a class="btn" style="color: #393f81;" (click)="register()">Login</a>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="offset-1" *ngIf="flagupdate">

    <form #NewStaffUPForm="ngForm" (ngSubmit)="put_api(NewStaffUPForm.value,teacher.staffid)">
        <label for="stuid">Staff Id</label><br>
        <input type="number" id="staffid" name="staffid" [(ngModel)]="teacher.staffid"><br>
        <label for="stuname">Staff Name</label><br>
        <input type="text" id="name" name="name" [(ngModel)]="teacher.name"><br>
        <label for="Age">Age</label><br>
        <input type="text" id="age" name="age" [(ngModel)]="teacher.age"><br>
        <label for="Gender">Gender</label><br>
        <input type="text" id="gender" name="gender" [(ngModel)]="teacher.gender"><br>
        <label for="Expertise">Expertise</label><br>
        <input type="text" id="expertise" name="expertise" [(ngModel)]="teacher.expertise"><br>
        <label for="Mobile">Mobile</label><br>
        <input type="text" id="mobile" name="mobile" [(ngModel)]="teacher.mobile"><br>
        <label for="Email">Email</label><br>
        <input type="text" id="email" name="email" [(ngModel)]="teacher.email"><br>
        <label for="Password">Password</label><br>
        <input type="text" id="password" name="password" [(ngModel)]="teacher.password"><br>
       
        <input type="submit" value="submit">
    </form>
</div> -->