<head>    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  

<style>
  
    .container {
        position: relative;
    }

  
    .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }

        p{
            font-size: 30px;
        }
</style>


<div class="container text-center">
    <br>
    <div class="jumbotron">
    <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> Learn coding with Learn2Code</p>
    <h2>Enjoy Learning !</h2><br>      
    <p>A broad selection of courses
        Choose from 155,000 online video
         courses with new additions published every month</p><br>    
        <div class="container">
            <img src="/assets/home5.jpg" alt="Image" width="100%" />
            <div class="text-block">
                <a class="btn btn-warning" (click)="Login()">Get Started</a>
                <!-- <a  routerLink = "login"  mat-button style="font-size: large;">Login</a>
                   
                <a routerLink = "login" mat-button style="font-size: large;">Logout</a> -->
           &nbsp;
             <a class="btn btn-dark"   mat-button style="font-size: large;" (click)="Register()">Register</a>
            </div>
        </div>
        </div>
</div>
<br>

<br>
<div class="container">
  <div class="jumbotron">
   
        <img src="/assets/home1.jpg" alt="Image" width="100%" />
  </div>
      
</div>



   